<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>


    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>
                Hi, my name is Alexis, I'm 17 years old, I'm from Argentina. I am currently an independent developer specializing in the Java language with an experience of 2 years, but I also have knowledge in JavaScript.
            </p>

            <a href="https://github.com/alexissdev" class="btn btn-primary w-25">Repositories</a>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>